*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #F3F4F6
}
nav{
    display:flex;
    background-color:#FFFFFF;
    height:30px;
    text-align:center;
    justify-content:center;
    padding:5px;
}
a{
    margin:10px;
    font-size: larger;
    color:black;
    text-decoration: none;
}
a:hover{
    transform:scale(1.03);
    text-shadow: rgb(136, 145, 126);
}
.button1{
    background-color: #4F46E5;
    border-radius: 20px;
    width:50px;
    border:none;
}
.button1:hover{
    background-color: #4338CA;
    transform: scale(1.03) ;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.container{
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    height:400px;
    width:100%;
    background-color:#EEF2FF;
}
.button2{
    background-color: #4F46E5;
    border-radius: 20px;
    width:110px;
    height:30px;
    border: none;
    margin:10px;
}
.button2:hover{
    background-color: #4338CA;
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.cards{
    display:flex;
    justify-content: center;
    gap:50px;
    padding:50px;
}
.box{
    text-align: center;
    height:110px;
    width:250px;
    border-radius: 30px;
    flex-direction: row;
    background-color: #FFFFFF;
}
.box1:hover,.box2:hover,.box3:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    width:280px;
    height:140px;
    border-color: #E5E7EB;
}
#container-1{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height:200px;
    width:100%;
    background-color:#F9FAFB;
}
.container-2{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding:50px;
    background-color: #EEF2FF;
}
footer{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    height:20px;
    width:100%;
    background-color:#E5E7EB;
}
.dark{
    background-color:#111827;
    color:white;
}
.light{
    color:black;
}
body.dark{
background-color: Deep Navy;
}
body.dark nav{
    background-color: #1F2933;
    color:white;
}
body.dark a{
    color:white;
}
body.dark .container{
    background-color:#111827 ;
}
body.dark .box{
    background-color: #1F2933;
}
body.dark #container-1{
background-color:#111827 ;
}
body.dark .container-2{
background-color:#0F172A ;
}
body.dark footer{
    background-color: #020617;
}
@media screen and (max-width: 500px) {
  .cards{
    display:flex;
    flex-direction: column;
  }
  .box{
    height:150px;
  }
}
